# Virtual environment
.venv/
venv/
env/

# Git
.git/
.gitignore

# Environment variables (JANGAN masuk image!)
.env

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Test & docs
*.md
output/

# Data mentah (tidak diperlukan di runtime)
data/resep/
data/resep_clean.csv
